<!doctype html>
<html lang="en">
<head>
    <include href="includes/header.htm"></include>
    <title>AT Fishing</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link py-3 px-0 px-lg-3 rounded  text-white" href="#" >Menu</a>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="logout.php"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>My Fishing Trip</h1>
        <hr>

        <form action="#" method="post" class="form-horizontal">
            <div class="row">
                <div class="col-8">

                    <!-- get personal information -->
                    <div class="form-group">
                        <label for="name"><strong>Name</strong></label>
                        <input class="form-control" type="text" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <label for="address"><strong>Address</strong></label>
                        <input class="form-control" type="text" name="address" id="address">
                    </div>

                    <div class="form-group">
                        <label for="distanceFromParking"><strong>Distance from Parking Spot (in miles)</strong></label>
                        <input class="form-control" type="text" name="distanceFromParking" id="distanceFromParking">
                    </div>

                    <div class="form-group">
                        <label for="date"><strong>Date</strong></label>
                        <input class="form-control" type="date" id="date" name="date">
                    </div>

                    <div class="container">
                        <label><strong>Enjoyability</strong></label><br>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="enjoyability" id="five" value="five">
                            <label class="form-check-label" for="five">*****</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="enjoyability" id="four" value="four">
                            <label class="form-check-label" for="four">****</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="enjoyability" id="three" value="three">
                            <label class="form-check-label" for="three">***</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="enjoyability" id="two" value="two">
                            <label class="form-check-label" for="two">**</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="enjoyability" id="one" value="one">
                            <label class="form-check-label" for="one">*</label>
                        </div>
                    </div>

                    <div class="container">
                        <label><strong>Success</strong></label><br>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="success" id="5" value="five">
                            <label class="form-check-label" for="5">*****</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="success" id="4" value="four">
                            <label class="form-check-label" for="4">****</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="success" id="3" value="three">
                            <label class="form-check-label" for="3">***</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="success" id="2" value="two">
                            <label class="form-check-label" for="2">**</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="success" id="1" value="one">
                            <label class="form-check-label" for="1">*</label>
                        </div>
                    </div>

                    <label><strong>Type of Fishing Spot</strong></label>

                    <div class="col-sm-4">
                        <select class="form-control" id="water" name="water">
                            <option> -Please Select- </option>

                            <repeat group="{{ @waters }}" value="{{ @waterOption }}">
                                <option>
                                    <check if="{{ @waterOption == @water }}">selected</check>
                                    {{ @waterOption }}
                                </option>
                            </repeat>

                        </select>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <button type="submit" class="btn btn-success">Record</button>
                    </div>
                </div>
            </div>
        </form>
    </div>



</div>

<include href="includes/footer.htm"></include>
</body>
</html>