<!doctype html>
<html lang="en">
<head>
    <include href="includes/header.htm"></include>
    <title>AT Hike</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link py-3 px-0 px-lg-3 rounded  text-white" href="#" >Menu</a>
            </li>

        </ul>
    </nav>

    <div class="container">
        <h1>My Hike</h1>
        <hr>

        <form action="#" method="post" class="form-horizontal">
            <div class="row">
                <div class="col-8">

                    <!-- get personal information -->
                    <div class="form-group">
                        <label for="name"><strong>Name</strong></label>
                        <input class="form-control" type="text" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <label for="address"><strong>Address</strong></label>
                        <input class="form-control" type="text" name="address" id="address">
                    </div>

                    <div class="form-group">
                        <label for="eventDate"><strong>Date</strong></label>
                        <input class="form-control" type="date" id="eventDate" name="eventDate">
                    </div>

                    <div class="container">
                        <label><strong>Enjoyability</strong></label><br>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="enjoyability" id="five" value="five">
                            <label class="form-check-label" for="five">*****</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="enjoyability" id="four" value="four">
                            <label class="form-check-label" for="four">****</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="enjoyability" id="three" value="three">
                            <label class="form-check-label" for="three">***</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="enjoyability" id="two" value="two">
                            <label class="form-check-label" for="two">**</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="enjoyability" id="one" value="one">
                            <label class="form-check-label" for="one">*</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="length"><strong>Length of Hike</strong></label>
                        <input class="form-control" type="text" name="length" id="length">
                    </div>

                    <div class="form-group">
                        <label for="elevation"><strong>Elevation Change</strong></label>
                        <input class="form-control" type="text" name="elevation" id="elevation">
                    </div>

                    <div class="container">
                        <label><strong>Difficulty</strong></label><br>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="diffculty" id="five" value="five">
                            <label class="form-check-label" for="five">*****</label>
                        </div>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="difficulty" id="four" value="four">
                            <label class="form-check-label" for="four">****</label>
                        </div>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="difficulty" id="three" value="three">
                            <label class="form-check-label" for="three">***</label>
                        </div>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="difficulty" id="two" value="two">
                            <label class="form-check-label" for="two">**</label>
                        </div>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="difficulty" id="one" value="one">
                            <label class="form-check-label" for="one">*</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="scenery"><strong>Scenery</strong></label>
                        <textarea class="form-control" name="scenery" id="scenery" rows="5"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Record</button>
                    </div>
                </div>
            </div>
        </form>
    </div>



</div>

<include href="includes/footer.htm"></include>
</body>
</html>