<!doctype html>
<html lang="en">
<head>
    <include href="includes/header.htm"></include>
    <title>Login</title>
</head>
<body>
<div id="mainContainer" class="container pb-5 mb-5 pt-5 mt-5">



    <div class="row">
        <div class="col-11 col-sm-9 col-md-6 col-lg-5 mx-auto">
            <h1 class="text-center">Welcome!</h1>
            <form method="post" class="form row">
                <div class="mx-auto">
                    <check if="{{ isset(@error)}}">
                        <p class="error alert alert-danger" role="alert">{{@error}}</p>
                    </check>
                </div>


                <div class="md-form w-100 mb-0">
                    <input type="text" id="email" name="email" class="form-control pl-2" >
                    <label for="email">Email</label>
                </div>



                <!-- Material input -->
                <div class="md-form w-100">
                    <input type="password" id="password" name="password" class="form-control pl-2">
                    <label for="password">Password</label>

                </div>

                <button class="btn btn-success col-12 col-sm-5 m-0 mr-auto" type="submit" name="login">Login</button>
                <button class="btn btn-primary col-12 col-sm-5 m-0 mt-2 m-sm-0 ml-auto" type="submit" name="register" id="register">Register</button>

            </form>
         </div>
     </div>
</div>

<include href="includes/footer.htm"></include>
</body>
</html>