<!doctype html>
<html lang="en">
<head>
    <include href="includes/header.htm"></include>
    <title>Activity Tracker</title>
</head>
<body>
<div class="container">
    <include href="includes/nav-bar.htm"></include>

    <h1 class="mt-3">Welcome to Your Activity Tracker!</h1>
    <hr class="my-4">
    <h2>Personal Information:</h2>
    <form method="post" action="#">
        <div class="row w-75 border rounded">
            <div class="col">
                <div class="form-group">
                    <label for="fName"><strong>First Name:</strong></label>
                    <input type="text" class="form-control" id="fName" name="fName" value="{{ @SESSION.profile->getFirstName() }}">
                </div>
                <div class="form-group">
                    <label for="fName"><strong>Last Name:</strong></label>
                    <input type="text" class="form-control" id="lName" name="lName" value="{{ @SESSION.profile->getLastName() }}">
                </div>
                <div class="form-group">
                    <label for="age"><strong>Age:</strong></label>
                    <input type="text" class="form-control" id="age" name="age" value="{{ @SESSION.profile->getAge() }}">
                </div>
                <div class="form-group">
                    <label for="fitnessLevel"><strong>Fitness Level:</strong></label>
                    <input type="text" class="form-control" id="fitnessLevel" name="fitnessLevel" value="{{ @SESSION.profile->getFitnessLevel() }}">
                </div>
                <div class="form-group">
                    <label for="email"><strong>Email:</strong></label>
                    <input type="text" class="form-control" id="email" name="email" value="{{ @SESSION.profile->getEmail() }}">
                </div>
                <div class="form-group">
                    <label for="password"><strong>Password:</strong></label>
                    <input type="password" class="form-control" id="password" name="password" value="{{@SESSION.profile->getPassword()}}">
                </div>

            </div>
            <div class="col">
                <div class="text-center">
                    <img src="images/unnamed.png" alt="anonymous pearson" class="w-50 mt-2 rounded">
                </div>
            </div>
        </div>
    </form>


    <a href="viewHiking" class="btn btn-success btn-lg active mr-3 mt-3" role="button" aria-pressed="true">View Hikes</a>
    <a href="viewFishing" class="btn btn-success btn-lg active mt-3" role="button" aria-pressed="true">View Fishing Trips</a>



</div>

<include href="includes/footer.htm"></include>
</body>
</html>