<!doctype html>
<html lang="en">
<head>
    <include href="includes/header.htm"></include>
    <title>Registration</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link py-3 px-0 px-lg-3 rounded  text-white" href="#" >Menu</a>
            </li>

        </ul>
    </nav>




    <h1 class="mt-5">Register Here:</h1>
    <form method="post" action="#">
        <div class="form-group">
            <label for="fname"><strong>First Name:</strong></label>
            <input type="text" class="form-control" id="fname" name="fname">
        </div>
        <div class="form-group">
            <label for="fname"><strong>Last Name:</strong></label>
            <input type="text" class="form-control" id="lname" name="lname">
        </div>
        <p><strong>Gender:</strong></p>
        <div class="form-check form-check-inline">
            <label><input type="radio" name="gender"  value="Male"> Male</input></label><br>

        </div>
        <div class="form-check form-check-inline">
            <label><input type="radio" name="gender" value="Female"> Female</input></label><br>
        </div>
        <div class="form-group">
            <label for="age"><strong>Age:</strong></label>
            <input type="text" class="form-control" id="age" name="age">
        </div>
        <div class="form-group">
            <label for="level"><strong>Fitness Level:</strong></label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <div class="form-group">
            <label for="email"><strong>Email:</strong></label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password"><strong>Password:</strong></label>
            <input type="password" class="form-control" id="password" name="password">
        </div>


        <button type="submit" class="btn btn-primary">Register</button>
        <span>
            <check if="{{isset(@registered)}}">You successfully registered with us! </check>
        </span>
    </form>







</div>

<include href="includes/footer.htm"></include>
</body>
</html>