<!doctype html>
<html lang="en">
<head>
    <include href="includes/header.htm"></include>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script src="js/JavaScript.js"></script>
    <title>AT Fishing</title>
</head>
<body>
<div class="container">

    <include href="includes/nav-bar.htm"></include>

    <table id="datatable">
        <tr>
            <repeat group="{{ @columns }}" value="{{ @col }}">
                <th>{{@col}}</th>
            </repeat>
        </tr>

        <repeat group="{{ @results }}" value="{{ @result }}">
            <tr>
                <repeat group="{{ @result }}" value="{{ @item }}"><td>{{@item}}</td></repeat>
            </tr>
        </repeat>

    </table>





</div>



<include href="includes/footer.htm"></include>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</body>
</html>